.header {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-50);
  padding: 10px var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  width: 33%;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;

  &:last-child {
    justify-content: end;
  }
}

.logo {
  fill: var(--primary-color);
}
